.sidebar {
  width: 250px;
  height: 100%;
  background-color: #025fa4;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(0); /* Sidebar tetap terlihat */
  transition: none; /* Hilangkan transisi karena sidebar tidak akan berubah */
}




.sidebar-header {
  padding: 20px;
  text-align: center;
}

.sidebar-header h2 {
  margin: 0;
  font-size: 24px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}

.sidebar-menu li:hover,
.sidebar-menu li.active {
  background-color: #a7bf01;
  color: #333366;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.sidebar-menu li.active::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 0px;
  height: 100%;
  background-color: #1A1A40;
}

.menu-item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu-item-icon {
  margin-right: 10px;
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-chevron {
  margin-left: auto;
}

.sidebar-footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.content {
  margin-left: 250px; /* Sesuaikan dengan lebar sidebar */
  padding: 20px;
  transition: margin-left 0.3s ease-in-out; /* Animasi untuk perubahan margin */
}

.main-container {
  display: flex;
}

/* Tambahan CSS untuk Responsivitas */
@media screen and (max-width: 768px) {
  .content {
    margin-left: 200px; /* Sesuaikan dengan lebar sidebar untuk layar kecil */
  }
}

@media screen and (max-width: 480px) {
  .content {
    margin-left: 150px; /* Lebih kecil lagi untuk layar sangat kecil */
  }
}


@media screen and (max-width: 480px) {
  .sidebar {
    width: 150px; /* Lebih kecil lagi untuk layar sangat kecil */
  }

  .sidebar-menu li {
    padding: 8px 10px; /* Padding lebih kecil untuk layar kecil */
  }

  .sidebar-menu li.active,
  .sidebar-menu li:hover {
    border-top-left-radius: 15px; /* Sesuaikan lagi untuk layar kecil */
    border-bottom-left-radius: 15px; /* Sesuaikan lagi untuk layar kecil */
  }

  .sidebar-header h2 {
    font-size: 18px; /* Ukuran font lebih kecil */
  }
}






/* .sidebar {
  width: 250px;
  height: 100%;
  background-color: #1A1A40;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-header {
  padding: 20px;
  text-align: center;
}

.sidebar-header h2 {
  margin: 0;
  font-size: 24px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  
}

.sidebar-menu li:hover,
.sidebar-menu li.active {
  background-color: #fff;
  color: #333366;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.sidebar-menu li.active::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 0px;
  height: 100%;
  background-color: #1A1A40;
}

.sidebar-menu li span {
  margin-left: 10px;
}

.sidebar-footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.sidebar-menu li.active {
  background-color: #fff;
  color: #1A1A40;
} */
